body {
    margin: 0px;
    font-family: 'proxima-nova',arial;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


#topbar {
    background-color: #004482;
    padding: 4px 5px 6px 0px;
}
#topbar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#topbar ul li {
    display: inline-block;
    margin: 0px 10px;
    font-size: 11px;
    color: #ffffea;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#topbar ul li.active a {
    color: #fff;
}
#topbar ul li a {
    color: #B2DDED;
    text-decoration: none;
}
#topbar .follow_us li {
    margin: 0px 4px;
}
#topbar .follow_us ul li a{
    color: #fff;
    display: block;
    font-size: 15px;
    height: 18px;
    width: 44px;
    padding-top: 5px;
    text-align: center;
}
#topbar .follow_us li.fb {
    background-color: #3b5998;
}
#topbar .follow_us li.tw {
    background-color: #55acee;
}
#topbar .follow_us li.ins {
    background-color: #517fa4;
}


#header {
    background-color: #0055A6;
}
#header .logo {
    width: 15%;
    padding: 5px;
}
#header .logo img {
    width: 100%;
}
#header ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#header ul li {
    display: inline-block;
    color: #B2DDED;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
#header ul li a {
    text-decoration: none;
    text-transform: uppercase;
}
#header .user_section {
    width: 25%;
    text-align: right;
    padding: 16px 0px;
}
#header .user_section li {
    font-size: 14px;
    padding: 0px 10px;
}

#main-navigation {
    width: 50%;
}
#main-navigation ul li {
    font-size: 18px;
    position: relative;
}
#main-navigation ul li a{
    color: #fff;
    display: block;
    padding: 16px 10px;
}
#main-navigation ul li:last-child i{
    vertical-align: middle;
}

#main-navigation .dropdown {
    position: absolute;
    width: 350px;
    cursor: pointer;
    padding: 18px 10px;
    border-top: 4px solid #5eaffd;
    display: none;
}
#main-navigation .dropdown li  {
    width: 45%;
    left: 0px;
    font-size: 15px;
}
#main-navigation .dropdown ul li a {
    color: #232323;
    padding: 5px;
}
#main-navigation .dropdown:before {
    content: "";
    border-bottom: 8px solid #5eaffd;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    top: -10px;
    left: 10px;
}

#main-navigation ul li:hover .dropdown {
    display: block;
}

#content {
    background-color: #F8F8F8;
    padding: 30px 0px;
}

#section_1 .main_section {
    width: 78%;
    background-color: #000;
    min-height: 482px;
}
#section_1 .two-col-layout .column{
    width: 49.8%;
    padding: 1px 0px 0px 1px;
    min-height: 501px;
}
#section_1 .two-col-layout a {
    display: block;
    position: relative;
}
#section_1 .column img {
    width: 100%;
    min-height: 245px;
}
#section_1 .col-1 img {
    min-height: 495px;
}
#section_1 .column .description {
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 10;
}
#section_1 .column a {
    font-weight: 900;
    color: #fff;
}
#section_1 .column a:after {
    content: "";
    position: absolute;
    background-color: rgb(0,0,0);
    opacity: 0.2;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}

#section_1 .main_sidebar{
    min-height: 482px;
    width: 22%;
    background-color: #272F3E;
    padding: 10px 0px;
}
#section_1 .main_sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#section_1 .main_sidebar ul li a{
    font-size: 14px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    padding: 10px 18px;
    color: #fff;
}
#section_1 .main_sidebar h3 {
    margin: 0px;
}