#earth {
    height: 300px;
    width: 300px;
    margin: 0 auto;
}
#earth img {
    height: 300px;
    width: 300px;
}

#ufo {
    height: 100px;
    width: 600px;
    position: absolute;
    top: 30%;
    left: 25%;
    transition: 5s;
    background-image: url("rocket-png-icon-4.png");
    background-position: top left;
    background-size: auto 100%;
    background-repeat: no-repeat;
    /*z-index: -1;*/
}
/*
#ufo img {
    height: 50px;
    width: 50px;
}*/

body:hover #ufo {
    /*background-position: right top;
    z-index: 1;*/
    transform: rotateY(360deg);
}